.custom-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.9s;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    background-color: rgba(72, 72, 72, 0.5);
     /* transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0)); */
}

.custom-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header {
    color: white;
    font-weight: 600;
    font-size: x-large;
}

.social-icons {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.9s;
    border-radius: 5px;
    padding: 3%;
    vertical-align: middle;
    margin: 5px;
    width: 15%;
    max-width: 40px;
    height: 40px;
    color: black;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.709);
}

.social-icons:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.341);
}

.social-icons:active {
    background-color:rgb(140, 249, 63);  
}

.social-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}



  
