.btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #69f41e6d;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 60%;
  max-width: 345px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.btn:hover  {
    background-color: #69f41e;
  }

.phone-title{
    color: white;
    font-weight: 600;
    font-size: x-large;
}

.select-country {
  background-color: white !important;
}